@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

body {
    background-color: white;
    color: rgb(15, 20, 25);
    font-family:  'Montserrat', serif;

}

header img {
    margin-top: 10px;
    border-radius: 0%;
}

header i {
    padding-right: 10px;
}

header > ul > li > a {
    color:  rgb(15, 20, 25);
    text-decoration: none;
    padding: 0;
}

li {
    padding: 0.5%;
}

header > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header > ul > li:hover{
    background-color: rgba(15, 25, 20, 0.1);
    border-radius: 30px;
    width: 125px;
} 

header button {
    font-family:  'Montserrat', serif;
    font-size: 12px;
    background-color: rgb(64, 96, 238);
    border-radius: 15px;
    border: none;
    color: aliceblue;
    width: 80px;
    height: 30px;
    margin-top: 12px;
}

img {
    margin-top: 2%;
    border-radius: 67%;
}

.number {
    color: rgb(15, 20, 25);
    font-style: bold;
}

main > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main div {
    display: flex;
    justify-content: space-between;
}

div button{
    margin-top: 40px;
    height: 30px;
    width: 100px;
    font-family:  'Montserrat', serif;
    font-size: 12px;
    background-color: rgb(64, 96, 238);
    border-radius: 15px;
    border: none;
    color: aliceblue;
}

main > ul > li {
    font-weight: bold;
    color:  rgb(83, 100, 113);
    padding: 7px;
}

main > ul > li:hover {
    text-decoration: underline;
}

.conteudo {
    background-color: rgba(15, 25, 20, 0.03);
    display: flex;
    justify-content: space-around;
}

main > section > a {
    text-decoration: none;
    color:  rgb(83, 100, 113);
    width: 100vh;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section > a:hover {
    text-decoration: underline;
    background-color:  gray;
}

section section a {
    color: rgb(83, 100, 113);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
}

section section a:hover {
    background-color: rgba(15, 25, 20, 0.03);
}

section section a[href="responder"]:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
}

section section a[href="retweetar"]:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
}

section section a[href="curtir"]:hover {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
}

h4:first-of-type {
    color: rgb(15, 20, 25);
}

h5, h5 span {
    color: rgb(83, 100, 113);
}

h4:last-of-type {
    color: rgb(15, 20, 25);
}

main ul:first-of-type li {
    color: rgb(83, 100, 113);
}

section > h5 span:first-of-type {
    color: rgb(15, 20, 25);
    font-weight: bold;
}

section > h5 span:last-of-type {
    color: rgb(83, 100, 113);
}

section > p {
    color: rgb(15, 20, 25);
}

main > section:hover {
    background-color: rgba(0, 0, 0, 0.03);
}



